<h1>Halo {{namaVar}}</h1>
<h1>Status : {{ketVar}}</h1>
<form [formGroup]="addDataForm" method="POST">
    <table>
        <tr>
            <td><label for="nama">Nama </label></td>
            <td><input type="text" formControlName="nama" placeholder="nama..">
                <span *ngIf="!addDataForm.get('nama')?.valid && addDataForm.get('nama')?.touched"
                    class="help-block">Wajib
                    di isi!</span>
            </td>

        </tr>
        <tr>
            <td><label for="keterangan">Keterangan </label></td>
            <td><input type="text" formControlName="keterangan" placeholder="keterangan..">
                <span *ngIf="!addDataForm.get('keterangan')?.valid && addDataForm.get('keterangan')?.touched"
                    class="help-block">Wajib
                    di isi!</span>
            </td>
        </tr>
        <tr>
            <td><label for="keterangan">Umur </label></td>
            <td><input type="number" formControlName="umur" placeholder="umur..">
                <span *ngIf="!addDataForm.get('umur')?.valid && addDataForm.get('umur')?.touched"
                    class="help-block">Wajib
                    di isi!</span>
            </td>
        </tr>
        <button  *ngIf="values == false" type="submit" (click)="simpanData()" class="btn btn-secondary">Tambah Data</button>
        <button *ngIf="values == true" type="submit" (click)="simpanData()" class="btn btn-secondary">Update</button>
    </table>
</form>
<br>
<div>
    <app-detail-kelas [kelasDetail]="daftarKelas" (kelasKirim)="editData($event)"></app-detail-kelas>
</div>