<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">nama</th>
            <th scope="col">keterangan</th>
            <th scope="col">umur</th>
            <th scope="col">action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let kl of kelasList">
            <td>{{kl.nama}}</td>
            <td>{{kl.keterangan}}</td>
            <td>{{kl.umur}}</td>
            <td><button (click)="editData(kl.nama)" class="btn btn-warning">Edit</button></td>
        </tr>
    </tbody>
</table>